.circular-clock {
    width: 200px; /* Ancho del contenedor */
    height: 200px; /* Altura del contenedor */
    border-radius: 50%; /* Para hacerlo circular */
    border: 2px solid blue; /* Color azul para el borde */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.circular-retraso{width: 200px; /* Ancho del contenedor */
    height: 200px; /* Altura del contenedor */
    border-radius: 50%; /* Para hacerlo circular */
    border: 2px solid red; /* Color azul para el borde */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;}
.clock {
    color: #333; /* Color del texto del reloj */
}
.abrir-modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
 
.animacion {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
}
 
.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}
 
@keyframes fadeIn {
    0% {
        opacity: 0
    }
 
    to {
        opacity: 1
    }
}
 
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
 
    to {
        opacity: 1
    }
}